fastapi
python-multipart
uvicorn[standard]
pymongo
motor
pydantic
pydantic-settings
reportlab
python-dotenv
langgraph
langchain
openai
passlib[bcrypt]
bcrypt>=4.0.0
python-jose
httpx
pdfplumber
python-docx
google-cloud-storage